@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #e5e5e5;
}
.card-height {
  height: 387px;
  border-radius: 15px;
}
.card-three {
  background-color: #3f87f5;
  height: 415px;
  padding-bottom: 25px;
  border-radius: 15px;
  color: white;
}
